@import '../../_variables.scss';

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 1rem;
    width: 80%;
    height: 400px;
    background-color: $main-color;
    &__switch {
        font-family: $main-font;
        color: white;
        cursor: pointer;
    }
}