@import '../../_variables.scss';

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem;
    width: 80%;
    height: 400px;
    background-color: $main-color;
}